<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Новая новость"{{head}}"</h2>
    <p>текст статьи: {{text}} </p>
    <p>Можете зайти и ознакомиться с другими категориями  </p>
    <p> Здесь можно было еще что то добавить </p>
    <p> И здесь можно было еще что то добавить </p>
    <p>URL: http://127.0.0.1:8000/news/{{article_id}} </p>
</body>
</html>