{% extends 'flatpages/default.html' %} 

{% load custom_filters %}

{% block title %}
News search list
{% endblock title %}
 

{% block content %}
    <h1>Найдено по параметрам - {{ filter.qs|length }} шт.</h1>
     
    <form method="GET">
    {{ filter.form }} 
    <input type="submit" value="Найти">
    </form>



    <hr>
    {% if searchNews  %} 
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Краткий текст
                </td>
                
            </tr>
        {% for directNews in filter.qs %} 
            <tr>
                <td>
                    <a href="{% url 'newsDetail' directNews.id %}">{{ directNews.head_of_post }}</a>
                </td>
                <td>
                    {{  directNews.post_date_created|date:'d M Y'  }}
                </td>
                <td>
                    {{ directNews.article_text|truncatechars:50 }}
                </td>
                <br>
            </tr>
        {% endfor %}
        </table>

        
    
    
    
    
    
        {% else %}
        <h2> Новостей нет!</h2>
    {% endif %}
{% endblock content %}